@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}






nav li{
	border: 2px solid #74645C;
	display: block;
	float: left;
	padding: 3%;
	margin-top: 3%;
	text-align: center;
	background-color: #B4ACA4;
	width: 33.333%;
}
a{
	text-decoration: none;
}
a li{
	width: 33.333%;
}

li{
	display: block;
	line-height: 1.5rem;
	text-align: center;
}
ol{
  margin: 0;
  padding-left: 0;
  margin-bottom: 2rem;
}







input{
	padding-left: 1rem;
	width: 50%;
}
form{
	background-color: #A9A9A9;
	padding: 1rem;
}
label{
	display: block;
}
form div{
	margin-bottom: 1.3rem;
	text-align: center;
}








h2{
	text-align: center;
}
h3{
	text-align: center;
}
p{
	text-align: center;
}








.footerlogo{
	max-width: 354px;
	max-height: 96px;
}








.imgset{
	display: none;
}
.mimgset{
	display: none;
}
.simgset{
	display: block;
}




.section{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 5rem;
	padding-bottom: 2rem;
}
.txtcenter{
	text-align: center;
}





.backimg{
  background-image: url("http://placehold.it/900x900"),
}
.button{
	background-color: #A9A9A9;
}
.clr1{
	background-color: #ECECEC;
}
.clr2{
	background-color: #D3D3D3;
}
.clr3{
	background-color: #808080;
}
.clr4{
	background-color: #A9A9A9;
}






@media only screen and (min-width: 48em){

	.section{
	padding: 8rem;
	}


	.imgset{
		display: block;
	}
	.mimgset{
		display: block;
	}
	.simgset{
		display: none;
	}


}



@media only screen and (min-width: 90em){

	.section{
	padding: 10rem;
	}



}
