.clr1{
	background-color: purple;
}

.clr2{
	background-color: green;
}

.clr3{
	background-color: red;
}

.clr4{
	background-color: blue;
}

.backimg{
	background-color: orange;
}

.button{
	background-color: brown;
}
