@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}




main{
	padding-top: 51%;
}
.masthead{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
nav li{
		/*border: 2px solid #74645C;*/
    display: block;
    float: left;
    padding: 3%;
    margin-top: -1%;
    margin-bottom: -20%;
    text-align: center;
    width: 33.333%;
}
a{
	text-decoration: none;
}
a li{
	width: 33.333%;
}
ol{
	padding-left: 0em;
}
li{
	display: block;
	line-height: 1.5rem;
	text-align: center;
}


.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.skip-links a {
	position: absolute;
	top; -3em;
}
.skip-links a:focus {
	top: 0;
}




input{
	padding-left: 1rem;
	width: 50%;
}
form{
	background-color: #A9A9A9;
	padding: 1rem;
}
label{
	display: block;
}
form div{
	margin-bottom: 1.3rem;
	text-align: center;
}








h2{
	text-align: center;
}
h3{
	text-align: center;
	margin: 0;
}
p{
	text-align: center;
}








.navbar{
	padding-bottom: 6%;
}
.icon{
	max-height: 55%;
	max-width: 55%;
	margin-left: 23%;
}

.footerlogo{
	max-width: 354px;
	max-height: 96px;
}



.img3{
	  background-image: url("..imgs/wideimage1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.img1{
	  background-image: url("../imgs/tattoo1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.img2{
	  background-image: url("../imgs/tallimage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}



.imgset{
	display: none;
}
.mimgset{
	display: none;
}
.simgset{
	display: block;
}

.sctbrdr {
    border: 3px solid #fff;
}
.homeimg{
	display: block;
	width: 100%;
}


.section{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 5rem;
	padding-bottom: 2rem;
}
.txtcenter{
	text-align: center;
}


.button{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    width: 60%;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.clr1{
	background-color: #74645C;
}
.clr2{
	background-color: #fffaf0;
}
.clr3{
	background-color: #808080;
}
.clr4{
	background-color: #A9A9A9;
}






@media only screen and (min-width: 48em){


	.navicons{
	margin-top: 5%;
	}
	.navlogo{
	margin-top: 5%;
	}

	.section{
	padding: 8rem;
	}

main{
	padding-top: 15%;
}

	.imgset{
		display: block;
	}
	.mimgset{
		display: block;
	}
	.simgset{
		display: none;
	}


}



@media only screen and (min-width: 90em){

	.section{
	padding: 10rem;
	}



}
